{% extends 'blog/base_blog.html' %}


	{% block title %}

	    Event list
	    
	{% endblock %}

	{% block content %}

	<h1 class="mb-5">Events</h1>

	<a type="button" href="{% url 'events_page' %}" class="btn btn-danger mb-4">Add</a>

	{% for event in events %}

	<form action="{% url 'events_delete' %}" method="post">{% csrf_token %}
		<div class="card mb-4">
			<div class="card-header" name="date_event">
				{{ event.post_date }}
			</div>
			<input type="hidden" name="id" value="{{ event.id }}">
			<div class="card-body">
				<h5 class="card-title", name="text_event">{{ event.text }}</h5>
				<p class="card-text">{{ event.body|truncatewords:15 }}</p>
				<div class="card-body">
					<button type="submit" class="btn btn-primary">Delete</button>
				</div>
			</div>
		</div>
	</form>
		
		{% endfor %}
	{% endblock %}